body{
    background-color: rgba(93, 9, 9, 0.667);
}
.box{
    margin: 15px auto;
    padding: 15px;
    background-color: rgb(250, 250, 250);
    height: 650px;
    width: 1300px;
    text-align: center;
}

h1{
    color: #123;
    text-align: center;
}

h2{
    color: #123;
    text-align: center;
    text-decoration: underline;
}

th{
    color: #123;
}

hr{
    height: 10px;
    background-color:  rgba(93, 9, 9, 0.667);
}

p{
    font-weight: 600;
    font-size: 1.2em;
    color: #123;
    text-align: center;
    line-height: 1.5;
    
}